*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

html{

  font-size: 12px;
}

body{
font-family: 'Arial','sans-serif';
display: flex;
background-color: #efefef; 
}

#root{
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;

}
.App
{
  width:100%;
  min-width:80px; 
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid #333;
  box-shadow: 0px 0px 15px gray;
}

.Header,.Footer{
  width:100%;
background-color:#66d8f5;
padding: 0.5rem;
display:flex;
justify-content: space-between;
align-items: center;

}

button{
  width: 50%;height: 50px;align-items: center;text-align: center;padding: 1rem;
  background-color: darkgreen;color:white;
  cursor: pointer;
}

.deletebutton{
  width: 50%;height: 50px;align-items: center;text-align: center;padding: 1rem;
  background-color: darkred;color: #fff;
  cursor: pointer;
}

.Header h1{
  font-size: 1.5rem;text-align: center;
}

.Header svg{
  font-size: 2rem;
}

.Footer{
  padding: 0.75rem;
  display:grid;
  place-content:center;

}

.Nav{
  width: 100%;
background-color:#333;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
}

.searchForm{
  width: 80%;
  padding: 1rem 0px 0px 0.75rem;
}

input[type="text"]{
  width: 100%;  min-height: 48px;
  font-size: 1rem;
  padding: 0.25rem;border-radius: 0.25rem;outline: none;
}

textarea[type="text"]{

  width: 100%;  min-height: 48px;
  font-size: 1rem;
  padding: 0.25rem;border-radius: 0.25rem;outline: none;

}

.searchForm label{
  
  color: #fff;font-size: medium;
}

.Nav ul{
  color: #fff;
}

.Nav li{
  padding:0.5rem;
}

.Nav li:hover,.Nav li:focus{padding: 0.2rem;}



.Nav li a{
  color: #fff;
  text-decoration:none;
}

.Nav li:hover,.Nav li:focus ,.Nav li:hover a,.Nav li:focus a {background-color: #eee;color: #333}

.Nav li:hover a,.Nav li:focus a{cursor: pointer;}



.Missing h2 ,PostPage h2 .Missing p ,PostPage p{margin-bottom: 1rem;}

.Home,.NewPost,.Missing,.PostPage{
width: 100%;
flex-grow: 1;
padding: 1rem;
overflow-y: auto;
background-color: #fff;

}

.post{
  margin-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid lightgray;
}

.Home .post a{
  text-decoration: none;
}

.postPage button{
  height: 48px;
  min-width: 48px;
  border-radius: 0.25rem;
  padding: 0.5rem  ;
  font-size: 1rem;
  background-color: red;
  color: #fff;
  cursor: pointer;
}

.statusMsg{
  margin: 2rem;
}

.postBody{
  margin: 1rem 0;
}



.newPostForm label{
  margin-top: 1rem;
}

.post:first-child{
  margin-top:0;
}

.post:last-child
{
  margin-bottom:0;
}

  .postDate{
    font-size: 0.75rem;
    margin-top: 0.25rem;
  }

  .postBody{
    margin: 1rem 0;
  }

.newPostForm{
  display: flex;
  flex-direction: column;
}







@media  only screen and  (min-width:610px){
  html{
 
font-size: 22px;
  }
}



